<h2>Genres</h2>
<table class="table table-striped">
    <tr>
        <th>Genre Name</th>
        <th>Actions</th>

    </tr>
    <% @genres.each do |genre| %>
        <tr>
            <td> <%= genre.name %></td>
            <td><%= link_to 'Edit', edit_genre_path(genre.id) %> | <%= link_to 'Delete', genre_path(genre), method: :delete, data: {confirm: "Are you sure?" } %></td>
            <td></td>
        </tr>
    <% end %>
</table>
