<% if params[:controller] == 'about'%>
    <div class ="well">
        <h3>Location Info</h3>
        <ul>
            <li>Blockbuster</li>
            <li>499 Massachusetts Ave, Unit 2</li>
            <li>Boston, MA 02134</li>
            <li>Phone: (617) 555-5555</li>
            <li>Email: support@blockbuster.com</li>
        </ul>    
    </div>
<% end %>
<% if params[:controller] == 'movies' && params[:action] == 'index' || params[:action] == 'show' =%>
<ul class="list-group">
    <% @genres.each do |genre| %>
        <%= link_to genre.name, genre_path(genre.id), class:'list-group-item' %>
    <% end %>
</ul>
<% end %>
