<h2>Producers</h2>
<table class="table table-striped">
    <tr>
        <th>Producer Name</th>
        <th>Actions</th>

    </tr>
    <% @producers.each do |producer| %>
        <tr>
            <td> <%= producer.first_name %> <%= producer.last_name %></td>
            <td><%= link_to 'Edit', edit_producer_path(producer.id) %> | <%= link_to 'Delete', producer_path(producer), method: :delete, data: {confirm: "Are you sure?" } %></td>
            <td></td>
        </tr>
    <% end %>
</table>
