<h2>Studios</h2>
<table class="table table-striped">
    <tr>
        <th>Studio Name</th>
        <th>Actions</th>

    </tr>
    <% @studios.each do |studio| %>
        <tr>
            <td> <%= studio.name %></td>
            <td><%= link_to 'Edit', edit_studio_path(studio.id) %> | <%= link_to 'Delete', studio_path(studio), method: :delete, data: {confirm: "Are you sure?" } %></td>
            <td></td>
        </tr>
    <% end %>
</table>
